In [289]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
%matplotlib inline

In [35]:
df = pd.read_csv('Dataset/train.csv')

In [36]:
df_test = pd.read_csv('Dataset/test.csv')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Product_Category_3            166821 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [38]:
df_test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [189]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [190]:
train_df = df.iloc[:,:-1]
train_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN

In [191]:
train_df['check'] = 1
df_test['check'] = 0

In [192]:
train_df.shape, df_test.shape

((550068, 12), (233599, 12))

In [246]:
#concate the train set and test set to create 
df_concat = pd.concat([train_df, df_test], ignore_index=True)

In [247]:
df_concat

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,check
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,1
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,1
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,1
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,1
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,1
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,1
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,1
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,1
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,1
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,1
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,1
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,1
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,1
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,1
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,1
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,1
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,1
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,1
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,1
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,1
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,1
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,1
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,1
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,1
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,1
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,1
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,1
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
783637,1005996,P00184242,F,26-35,0,B,1,1,9,15.0,NaN,0
783638,1005996,P00045342,F,26-35,0,B,1,1,1,5.0,17.0,0
783639,1006001,P00124642,F,26-35,7,A,0,1,16,NaN,NaN,0
783640,1006002,P00121142,M,51-55,0,C,1,1,8,NaN,NaN,0
783641,1006002,P00233542,M,51-55,0,C,1,1,1,15.0,NaN,0
783642,1006002,P00226342,M,51-55,0,C,1,1,11,15.0,NaN,0
783643,1006002,P00284842,M,51-55,0,C,1,1,1,8.0,17.0,0
783644,1006003,P00313342,F,46-50,17,C,1,0,5,NaN,NaN,0
783645,1006010,P00223542,M,36-45,0,C,1,0,1,8.0,17.0,0
783646,1006013,P00020342,F,26-35,20,C,3,0,1,2.0,NaN,0
783647,1006016,P00014842,M,46-50,1,B,1,1,1,2.0,5.0,0
783648,1006016,P00109542,M,46-50,1,B,1,1,8,14.0,17.0,0
783649,1006018,P00071442,M,36-45,1,C,3,0,15,17.0,NaN,0
783650,1006021,P00112542,M,26-35,12,B,2,1,1,11.0,15.0,0
783651,1006021,P00003442,M,26-35,12,B,2,1,4,5.0,8.0,0
783652,1006023,P00262242,M,26-35,0,C,2,1,1,11.0,16.0,0
783653,1006025,P00161142,F,26-35,1,B,1,0,11,NaN,NaN,0
783654,1006026,P00110742,M,36-45,6,C,1,1,1,2.0,8.0,0
783655,1006028,P00162442,M,18-25,4,A,4+,0,1,16.0,NaN,0
783656,1006030,P00129842,M,26-35,17,C,1,1,6,8.0,15.0,0
783657,1006030,P00241442,M,26-35,17,C,1,1,2,15.0,NaN,0
783658,1006032,P00252442,M,46-50,7,A,3,0,8,NaN,NaN,0
783659,1006033,P00127642,M,51-55,13,B,1,1,1,2.0,15.0,0
783660,1006035,P00135742,F,26-35,1,C,3,0,6,8.0,NaN,0
783661,1006036,P00255442,F,26-35,15,B,4+,1,8,NaN,NaN,0
783662,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN,0
783663,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN,0
783664,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0,0
783665,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN,0
783666,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN,0

In [195]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783667 entries, 0 to 783666
Data columns (total 12 columns):
User_ID                       783667 non-null int64
Product_ID                    783667 non-null object
Gender                        783667 non-null object
Age                           783667 non-null object
Occupation                    783667 non-null int64
City_Category                 783667 non-null object
Stay_In_Current_City_Years    783667 non-null object
Marital_Status                783667 non-null int64
Product_Category_1            783667 non-null int64
Product_Category_2            537685 non-null float64
Product_Category_3            237858 non-null float64
check                         783667 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 71.7+ MB

In [248]:
df_concat.fillna(-999, inplace=True)

In [228]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783667 entries, 0 to 783666
Data columns (total 12 columns):
User_ID                       783667 non-null int64
Product_ID                    783667 non-null object
Gender                        783667 non-null object
Age                           783667 non-null object
Occupation                    783667 non-null int64
City_Category                 783667 non-null object
Stay_In_Current_City_Years    783667 non-null object
Marital_Status                783667 non-null int64
Product_Category_1            783667 non-null int64
Product_Category_2            783667 non-null float64
Product_Category_3            783667 non-null float64
check                         783667 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 71.7+ MB

In [198]:
df_concat['Product_Category_3'].unique()

array([-999.,   14.,   17.,    5.,    4.,   16.,   15.,    8.,    9.,
         13.,    6.,   12.,    3.,   18.,   11.,   10.])

In [199]:
df_concat['User_ID'].describe()

count    7.836670e+05
mean     1.003029e+06
std      1.727267e+03
min      1.000001e+06
25%      1.001519e+06
50%      1.003075e+06
75%      1.004478e+06
max      1.006040e+06
Name: User_ID, dtype: float64

In [200]:
print(df_concat['Gender'].unique())

['F' 'M']

In [201]:
print(sorted(df_concat['Occupation'].unique()))
df_concat.groupby('Occupation')['Occupation'].count()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Occupation
0      98850
1      67687
2      37996
3      25126
4     103086
5      17373
6      29102
7      84127
8       2189
9       8929
10     18304
11     16593
12     44448
13     11053
14     38782
15     17356
16     36122
17     57418
18      9367
19     11919
20     47840
Name: Occupation, dtype: int64

In [202]:
print(df_concat['Age'].unique())
df_concat['Age'].describe()

['0-17' '55+' '26-35' '46-50' '51-55' '36-45' '18-25']

count     783667
unique         7
top        26-35
freq      313015
Name: Age, dtype: object

In [203]:
print(df_concat['City_Category'].unique())
print(df_concat['City_Category'].describe())

['A' 'C' 'B']
count     783667
unique         3
top            B
freq      329739
Name: City_Category, dtype: object

In [204]:
print(df_concat['Stay_In_Current_City_Years'].unique())
print(df_concat['Stay_In_Current_City_Years'].describe())
print(df_concat.groupby('Stay_In_Current_City_Years')['Stay_In_Current_City_Years'].count())

['2' '4+' '3' '1' '0']
count     783667
unique         5
top            1
freq      276425
Name: Stay_In_Current_City_Years, dtype: object
Stay_In_Current_City_Years
0     105716
1     276425
2     145427
3     135428
4+    120671
Name: Stay_In_Current_City_Years, dtype: int64

In [205]:
print(df_concat['Marital_Status'].unique())
print(df_concat['Marital_Status'].describe())
print(df_concat.groupby('Marital_Status')['Marital_Status'].count())

[0 1]
count    783667.000000
mean          0.409777
std           0.491793
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: Marital_Status, dtype: float64
Marital_Status
0    462538
1    321129
Name: Marital_Status, dtype: int64

In [206]:
print(df_concat['Product_Category_1'].unique())
print(df_concat['Product_Category_1'].describe())
print(df_concat.groupby('Product_Category_1')['Product_Category_1'].count())

[ 3  1 12  8  5  4  2  6 14 11 13 15  7 16 18 10 17  9 20 19]
count    783667.000000
mean          5.366196
std           3.878160
min           1.000000
25%           1.000000
50%           5.000000
75%           8.000000
max          20.000000
Name: Product_Category_1, dtype: float64
Product_Category_1
1     200699
2      34056
3      28791
4      16756
5     215950
6      29326
7       5345
8     162294
9        604
10      7373
11     34440
12      5610
13      7930
14      2186
15      8984
16     13933
17       801
18      4436
19      1603
20      2550
Name: Product_Category_1, dtype: int64

In [207]:
print(sorted(df_concat['Product_Category_2'].unique()))
print(df_concat['Product_Category_2'].describe())
print(df_concat.groupby('Product_Category_2')['Product_Category_2'].count())
df_concat['Product_Category_2'].isnull().sum()

[-999.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0]
count    783667.000000
mean       -306.817532
std         468.194361
min        -999.000000
25%        -999.000000
50%           5.000000
75%          14.000000
max          18.000000
Name: Product_Category_2, dtype: float64
Product_Category_2
-999.0    245982
 2.0       70498
 3.0        4123
 4.0       36705
 5.0       37165
 6.0       23575
 7.0         854
 8.0       91317
 9.0        8177
 10.0       4420
 11.0      20230
 12.0       7801
 13.0      15054
 14.0      78834
 15.0      54114
 16.0      61687
 17.0      19104
 18.0       4027
Name: Product_Category_2, dtype: int64

0

In [208]:
print(sorted(df_concat['Product_Category_3'].unique()))
print(df_concat['Product_Category_3'].describe())
print(df_concat.groupby('Product_Category_3')['Product_Category_3'].count())
df_concat['Product_Category_3'].isnull().sum()

[-999.0, 3.0, 4.0, 5.0, 6.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0]
count    783667.000000
mean       -691.939130
std         465.148262
min        -999.000000
25%        -999.000000
50%        -999.000000
75%           8.000000
max          18.000000
Name: Product_Category_3, dtype: float64
Product_Category_3
-999.0    545809
 3.0         878
 4.0        2691
 5.0       23799
 6.0        6888
 8.0       17861
 9.0       16532
 10.0       2501
 11.0       2585
 12.0      13115
 13.0       7849
 14.0      26283
 15.0      39968
 16.0      46469
 17.0      23818
 18.0       6621
Name: Product_Category_3, dtype: int64

0

## Initial Analysis of features and target
* Gender has two categorical values F and M. So we will have to convert Gender from Object data type to categorical
* Occupation has 21 unique categories from 0 to 21. So it should be converted to categorical.
* Age is divided into 7 unique intervals. So convert it into categorical.
* Three categories of citys are there. So convert to categorical.
* Stay_In_Current_City_Years has 5 unique values. So convert to categorical.
* Marital Status has two values 0 and 1. So convert to categorical.
* Product_Category_1 has 20 unique values. Convert to categorical.
* Product_Category_2 had 173638 values missing specified as NaN. These converted to -999 value.
* Product_Category_3 has 383247 values missing specified as NaN. These converted to -999 value.
* Purchase is the target variable. None are missing.

Convert Product_ID and Customer_ID to categorical as well.

In [253]:
df_concat_copy = df_concat.copy()

New product category 'final_category' has a total of 237 category types which could be converted to categorical values.

In [249]:
user_id_encoder = LabelEncoder()
df_concat['User_ID'] = user_id_encoder.fit_transform(df_concat['User_ID'])

In [255]:
product_id_encoder = LabelEncoder()
df_concat['Product_ID'] = product_id_encoder.fit_transform(df_concat['Product_ID'])
age_encoder = LabelEncoder()
df_concat['Age'] = age_encoder.fit_transform(df_concat['Age'])
occupation_encoder = LabelEncoder()
df_concat['Occupation'] = occupation_encoder.fit_transform(df_concat['Occupation'])
city_category_encoder = LabelEncoder()
df_concat['City_Category'] = city_category_encoder.fit_transform(df_concat['City_Category'])
stay_encoder = LabelEncoder()
df_concat['Stay_In_Current_City_Years'] = stay_encoder.fit_transform(df_concat['Stay_In_Current_City_Years'])

In [269]:
gender_encoder = LabelEncoder()
df_concat['Gender'] = gender_encoder.fit_transform(df_concat['Gender'])

In [270]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 783667 entries, 0 to 783666
Data columns (total 12 columns):
User_ID                       783667 non-null int64
Product_ID                    783667 non-null int64
Gender                        783667 non-null int64
Age                           783667 non-null int64
Occupation                    783667 non-null int64
City_Category                 783667 non-null int64
Stay_In_Current_City_Years    783667 non-null int64
Marital_Status                783667 non-null int64
Product_Category_1            783667 non-null int64
Product_Category_2            783667 non-null float64
Product_Category_3            783667 non-null float64
check                         783667 non-null int64
dtypes: float64(2), int64(10)
memory usage: 71.7 MB

In [271]:
df_concat.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,check
0,0,684,0,0,10,0,2,0,3,-999.0,-999.0,1
1,0,2406,0,0,10,0,2,0,1,6.0,14.0,1
2,0,868,0,0,10,0,2,0,12,-999.0,-999.0,1
3,0,844,0,0,10,0,2,0,12,14.0,-999.0,1
4,1,2769,1,6,16,2,4,0,8,-999.0,-999.0,1

In [272]:
X = df_concat.iloc[:550068,:]
y = df.iloc[:550068,-1:]

In [273]:
X = X.drop('check', axis='columns')

In [274]:
X.shape, y.shape

((550068, 11), (550068, 1))

In [275]:
X.tail()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
550063,5883,3612,1,5,13,1,1,1,20,-999.0,-999.0
550064,5885,3613,0,2,1,2,3,0,20,-999.0,-999.0
550065,5886,3613,0,2,15,1,4,1,20,-999.0,-999.0
550066,5888,3613,0,6,1,2,2,0,20,-999.0,-999.0
550067,5889,3611,0,4,0,1,4,1,20,-999.0,-999.0

In [276]:
y.tail()

        Purchase
550063       368
550064       371
550065       137
550066       365
550067       490

In [277]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [278]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((385047, 11), (165021, 11), (385047, 1), (165021, 1))

In [279]:
y_test.head()

        Purchase
84432      19142
72724      15513
197032      7802
353704     15455
91198       4492

In [266]:
from sklearn.tree import DecisionTreeRegressor

In [302]:
tree_reg = DecisionTreeRegressor(min_samples_split=3)

In [303]:
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=3, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [304]:
tree_reg.feature_importances_

array([0.11217252, 0.07657606, 0.00876089, 0.02742734, 0.04761173,
       0.01483194, 0.02792876, 0.01027315, 0.64789265, 0.01458591,
       0.01193907])

In [305]:
tree_reg.feature_importances_

array([0.11217252, 0.07657606, 0.00876089, 0.02742734, 0.04761173,
       0.01483194, 0.02792876, 0.01027315, 0.64789265, 0.01458591,
       0.01193907])

In [306]:
predictions = tree_reg.predict(X_train)

In [307]:
test_predictions = tree_reg.predict(X_test)

In [308]:
mean_squared_error(y_train, predictions)

361856.6088282729

In [301]:
mean_squared_error(y_test, test_predictions)

13012018.582096957

In [309]:
mean_squared_error(y_test, test_predictions)

13962147.302206991

In [285]:
X_train.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3'],
      dtype='object')

In [135]:
pd.get_dummies(df_concat, drop_first=True)

,check,User_ID_1000002,User_ID_1000003,User_ID_1000004,User_ID_1000005,User_ID_1000006,User_ID_1000007,User_ID_1000008,User_ID_1000009,User_ID_1000010,...,Product_Category_3_9.0,Product_Category_3_10.0,Product_Category_3_11.0,Product_Category_3_12.0,Product_Category_3_13.0,Product_Category_3_14.0,Product_Category_3_15.0,Product_Category_3_16.0,Product_Category_3_17.0,Product_Category_3_18.0
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
20,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
25,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
28,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
29,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783637,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783638,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
783639,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783641,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783643,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
783644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
783646,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783647,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783648,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
783649,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783650,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
783651,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783652,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
783653,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783654,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783656,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
783657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783658,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783659,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
783660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783661,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783663,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783664,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
783665,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
783666,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [156]:
df_final.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase,final_category
0,F,0-17,10,A,2,0,8370,"3,-,-"
1,F,0-17,10,A,2,0,15200,"1,6.0,14.0"
2,F,0-17,10,A,2,0,1422,"12,-,-"
3,F,0-17,10,A,2,0,1057,"12,14.0,-"
4,M,55+,16,C,4+,0,7969,"8,-,-"

In [161]:
X = df_final.iloc[:, [0,1,2,3,4,5,7]]
y = df_final.iloc[:, 6]

In [162]:
X.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,final_category
0,F,0-17,10,A,2,0,"3,-,-"
1,F,0-17,10,A,2,0,"1,6.0,14.0"
2,F,0-17,10,A,2,0,"12,-,-"
3,F,0-17,10,A,2,0,"12,14.0,-"
4,M,55+,16,C,4+,0,"8,-,-"

In [163]:
y.head()

0     8370
1    15200
2     1422
3     1057
4     7969
Name: Purchase, dtype: int64

In [172]:
X = pd.get_dummies(X)

In [175]:
X.shape

(550068, 277)

In [183]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn

In [177]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [178]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(385047, 277) (385047,) (165021, 277) (165021,)

In [192]:
y_test.head()

84432     19142
72724     15513
197032     7802
353704    15455
91198      4492
Name: Purchase, dtype: int64

In [179]:
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [209]:
predictions = linear_reg.predict(X_test)

In [210]:
mse = mean_squared_error(y_test, predictions)

In [211]:
#using default linear regression
mse

3.388312991219989e+22

In [221]:
np.mean((y_test.valuesâ€“predictions) ** 2)

SyntaxError: invalid character in identifier (<ipython-input-221-da06578c9f93>, line 1)

In [226]:
np.mean((y_test.values - predictions)**2)

3.388312991219989e+22

In [218]:
predictions

array([13205. , 14476.5,  7403. , ..., 11956.5, 11760.5,  5974.5])

In [196]:
case_1 = X_test.iloc[0,:].values

In [203]:
case_1 = case_1.reshape(1,-1)

In [204]:
case_1.shape

(1, 277)

In [205]:
pred = linear_reg.predict(case_1)

In [206]:
pred

array([13205.5])

In [207]:
y_test

84432     19142
72724     15513
197032     7802
353704    15455
91198      4492
263977     6965
340456     8763
24094     19347
157277     7017
531759    15594
140977     4649
414535    19549
504520     1762
197149     6186
241974     3663
532759    15394
490181    18952
261405     3044
345359     6025
127565     1462
396797     4261
220547    19112
361288    19297
217635     3515
397197     1811
153385    13593
380341    11418
401168     1030
325026     8203
436361     5325
          ...
120693     6869
67390     15837
400778    16005
93527      6481
215113     9994
442690     7190
443796    11664
502202     5454
94745     15615
65513      5384
333379     5851
442579    19689
411550    20676
174116    15675
125280    11725
254487     9620
345904    14693
439249     6927
440234     7986
97547     16493
258485    11849
357549     3707
294493    12451
97660     19486
92371      7871
284287     1840
50876      4050
533433    11836
44339      9548
500108     6888
Name: Purchase, Length: 165021, dtype: int64